<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:if="${genre != null}">
        <h1 th:text="${genre[0].getGenre()}"></h1>
        <ul>
            <li th:each="g : ${genre}">
                <span th:text="${g.title}"></span> -
                <span th:text="${g.author}"></span>
            </li>
        </ul>
    </div>

    <div th:if="${allGenre != null}">
        <h1>All Genre</h1>
        <ul>
            <li th:each="ag : ${allGenre}">
                <a th:href="@{/genre(type=${ag})}">
                    <span th:text="${ag}"></span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>