<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Spellbound Readers <span th:text="${date}"></span></h1>
    <h2>A community for all readers</h2>
    <p>We’re thrilled to have you here. Whether you’re a lifelong reader or just starting your literary journey, our club is the perfect place to share ideas, discover new favorites, and connect with fellow book lovers.</p>
    <p>Grab a cup of coffee, open a good book, and let’s start the next chapter — together. 📖💫</p>
</body>
</html>